doctype html
html
  head
    title Bull.sh - Sociologie
    include ../commons/meta
    include ../commons/includes
    link(rel='stylesheet', href='/sociologie/index.css')

  body
    // Page Wrapper
    .page-wrapper
      // Header
      include ../commons/header

      // Main
      article#main
        include ../commons/pages/article-header.mixin.pug
        +articleHeader('Sociologie', 'Entretiens et observations')

        section.wrapper.bg-white.fg-black
          .inner
            h3.fg-black Synth&egrave;se
            p
              | Le projet port&eacute; par notre entreprise est parti de l'id&eacute;e qu'un outil de traitement syntaxique du langage a de fortes cons&eacute;quences potentielles sur la soci&eacute;t&eacute;.
              | Ayant commenc&eacute; &agrave; r&eacute;fl&eacute;chir &agrave; une application dans le domaine politique et publicitaire, nous avons eu &agrave; r&eacute;fl&eacute;chir &agrave; l'impact de notre technologie sur le citoyen.
              | Pour ce faire, nous avons effectu&eacute; trois entretiens avec des personnes pouvant utiliser l'outil de façon diff&eacute;rente, plus celle d'un expert dans le domaine. Nous avons &eacute;galement observ&eacute; le comportement d'un utilisateur devant des conditions g&eacute;n&eacute;rales d'utilisation.
            p
              | Les notes prises nous ont permis de d&eacute;gager des points importants et des probl&egrave;mes que peut soulever notre outil. Elles ont particip&eacute; &agrave; nous faire pivoter, c'est &agrave; dire changer de cible de march&eacute;, bien que la technologie reste la même.
            hr
            h4.fg-black Livrables
            ul
              li
                a(href='/assets/delivrables/[bullsh] rapport enquetes.pdf' target='_blank') Rapport d'entretiens
              li
                a(href='/assets/delivrables/[bullsh] entretien acheteur.pdf' target='_blank') Compte-rendu d'entretien: acheteur
              li
                a(href='/assets/delivrables/[bullsh] entretien primovotant.pdf' target='_blank') Compte-rendu d'entretien: primo-votant
              li
                a(href='/assets/delivrables/[bullsh] entretien journaliste.pdf' target='_blank') Compte-rendu d'entretien: journaliste
            p Pour les livrables de responsabilit&eacute; civile et soci&eacute;tale, voir&nbsp;
              a(href='/responsabilites') la partie associ&eacute;e
              | .

      include ../commons/footer
    script(src='/sociologie/index.js')
