@import '../libs/sass/spectral';
@import '../commons/commons';
@import '../index';

h3, h4, h5,
strong, b,
label {
  @extend .fg-black
}

blockquote {
  border: none;
  padding: 0;
  position: relative;
  text-align: center;

  P {
    font-family: 'Droid Serif', Serif;
    font-size: 1em;

    .quote {
      font-size: 3em;
      position: relative;

      &-begin {
        top: .25em;
        left: -.5em;
      }

      &-end {
        top: .7em;
        left: 0.1em;
        line-height: 0px;
      }
    }
  }
}