footer#footer
  ul.icons
    li
      a.icon.fa-github(href='https://github.com/Sn0wFox/bull.sh', target='_blank')
        span.label Github
  ul.copyright
    li © Péricas-Moya Ruben 2017
    li
      | Design original:
      a(href='http://html5up.net') HTML5 UP