header#bull-header.header
  h1
    a(href='/') Bull.sh
  include menu.mixin.pug
  +menu({
    'Accueil': '/',
    'Business': '/business',
    'Communication': '/communication',
    'Finances': '/finances',
    'Gestion de projet': '/gestion',
    'Marketing': '/marketing',
    'Responsabilité sociétale': '/responsabilites',
    'Sociologie': '/sociologie'
  })