doctype html
html
  head
    title Bull.sh - Business
    include ../commons/meta
    include ../commons/includes
    link(rel='stylesheet', href='/finances/index.css')

  body
    // Page Wrapper
    .page-wrapper
      // Header
      include ../commons/header

      // Main
      article#main
        include ../commons/pages/article-header.mixin.pug
        +articleHeader('Finances', 'Business model et Business plan')

        section.wrapper.bg-white.fg-black
          .inner
            h3.fg-black Synth&egrave;se
            p
              | Les diff&eacute;rentes &eacute;tudes marketing et sociologiques ont permis de d&eacute;gager les directions dans lesquelles nous voulons lancer notre start-up : une valeur ajout&eacute;e juridique propos&eacute;e &agrave; des entreprises, petites ou moyennes.
              | L'affaire sera port&eacute;e principalement par un avocat, propri&eacute;taire de l'entreprise &agrave; au moins 51%.
            p
              | Partant de cette base, nous avons d&eacute;fini un business plan en tablant sur des recettes et d&eacute;penses pr&eacute;visionnelles aussi r&eacute;alistes que possible. En particulier, un plan de financement et un compte de r&eacute;sultat pr&eacute;visionnel ont &eacute;t&eacute; pr&eacute;vus sur 3 ans.
            hr
            h4.fg-black Livrables
            ul
              li
                a(href='#') Le business model
              li
                a(href='#') Le business plan

      include ../commons/footer
    script(src='/finances/index.js')
