doctype html
html
  head
    title Bull.sh - Marketing
    include ../commons/meta
    include ../commons/includes
    link(rel='stylesheet', href='/marketing/index.css')

  body
    // Page Wrapper
    .page-wrapper
      // Header
      include ../commons/header

      // Main
      article#main
        include ../commons/pages/article-header.mixin.pug
        +articleHeader('Marketing', 'Étude de faisabilité commerciale')

        section.wrapper.bg-white.fg-black
          .inner
            h3.fg-black Synth&egrave;se
            p
              | L'&eacute;tude marketing est un processus in&eacute;vitable de toute nouvelle cr&eacute;ation de service, comme ici d'application web. En effet, cela permet de nous assurer de l'int&eacute;r&ecirc;t que les potentiels clients que nous ciblons nous portent. Pour cela, nous avons partitionn&eacute; cette &eacute;tude en plusieurs grandes parties distinctes.
            p
              | La premi&egrave;re concerne des g&eacute;n&eacute;ralit&eacute;s &agrave; propos du contexte dans lequel va s'inscrire Bull.sh, car il est indubitable que toutes nouvelles applications ne peut, aujourd'hui, se consid&eacute;rer en autocratie totale vis-&agrave;-vis de l'ensemble de l'&eacute;cosyst&egrave;me dans lequel elle va in&eacute;vitablement s'inscrire, &eacute;cosyst&egrave;me qui, &eacute;tant en &eacute;volution constante, doit obligatoirement &ecirc;tre r&eacute;-analyser lors du processus de cr&eacute;ation. La deuxi&egrave;me partie, la plus importante de ce document, est d&eacute;di&eacute;e &agrave; l'&eacute;tude elle m&ecirc;me, de sa cr&eacute;ation &agrave; sa r&eacute;alisation, puis &agrave; sa critique pertinente du point de vue de ses limites. Finalement, ce document se termine par un rapide aperçu de l'&eacute;volution de la solution propos&eacute;, avec les explications qui nous ont pouss&eacute;es &agrave; r&eacute;aliser ces changements.
            hr
            h4.fg-black Livrables
            ul
              li
                a(href='#') &Eacute;tude marketing

      include ../commons/footer
    script(src='/marketing/index.js')
