doctype html
html
  head
    title Bull.sh - Communication
    include ../commons/meta
    include ../commons/includes
    link(rel='stylesheet', href='/communication/index.css')

  body
    // Page Wrapper
    .page-wrapper
      // Header
      include ../commons/header

      // Main
      article#main
        include ../commons/pages/article-header.mixin.pug
        +articleHeader('Communication', 'Benchmarking, chartes graphiques et plan de communication')

        section.wrapper.bg-white.fg-black
          .inner
            h3.fg-black Synth&egrave;se
            p
              | L'&eacute;tude aboutissant &agrave; la strat&eacute;gie de communication a permit de d&eacute;gager les valeurs que Bull.sh devait mettre en avant aupr&egrave;s de ses clients, &agrave; savoir l'honn&ecirc;tet&eacute; et la volont&eacute; d'aider, ainsi que la qualit&eacute; des services et des moyens de protection des donn&eacute;es. La strat&eacute;gie de communication s'articule donc autour d'un ma&icirc;tre mot: la&nbsp;
              strong.fg-black confiance
              | .
            p
              | Une &eacute;tude pr&eacute;liminaire bas&eacute;e sur un benchmarking a permis l'&eacute;tablissement de chartes graphiques et typographiques en accord avec les objectifs pr&eacute;c&eacute;dents. Une partie de ces chartes est d&eacute;di&eacute;e &agrave; ce site web (qui en est donc le reflet), une autre est d&eacute;di&eacute;e aux livrables et enfin une derni&egrave;re partie est destin&eacute;e &agrave; l'application Bull.sh, qui n'a pas encore &eacute;t&eacute; d&eacute;velopp&eacute;e.
              | Il est a noter que cette derni&egrave;re partie est &eacute;norm&eacute;ment confondu avec celle de ce site web, puisque l'application Bull.sh sera une application web.
            p
              | Enfin, une analyse des cibles et du march&eacute; a permis de formuler un plan de communication, qui sera d&eacute;taill&eacute; dans le livrable associ&eacute;.&nbsp;
              | Ce plan d&eacute;fini les objectifs de la campagne de commnication de Bull.sh, dont les principaux sont:
              ul
                li Faire connaitre Bull.sh puis accro&icirc;tre sa notori&eacute;t&eacute;
                li Forger l'image de Bull.sh avec les valeurs d&eacute;crites pr&eacute;c&eacute;demment
                li Mettre en avant les arguments de vente de l'application Bull.sh
              | On pourra &eacute;galement noter dans cette synth&egrave;se que la campagne touchera les domaines de la communication&nbsp;
              i B to B&nbsp;
              | et&nbsp;
              i coporate
              | , et s'articulera donc autour d'une communication &eacute;v&egrave;nementielle et &agrave; base de d&eacute;marchage.
            hr
            h4.fg-black Livrables
            ul
              li
                a(href='#') Plan de communication
                | &nbsp;(inclut le benchmarking et les chartes graphiques)
              li
                a(href='/charte-graphique') Charte graphique en ligne
                | &nbsp;(impl&eacute;mentation de la charte du document pr&eacute;c&eacute;dent)
              li
                p La vid&eacute;o de pr&eacute;sentation de l'application est disponible ici:&nbsp;
                  a(href='#') http://some.example/bull.mp4
            p Pour les livrables de responsabilit&eacute; civile et soci&eacute;tale, voir&nbsp;
              a(href='/responsabilites') la partie associ&eacute;e
              | .


      include ../commons/footer
    script(src='/communication/index.js')
