doctype html
html
  head
    title Bull.sh - Gestion
    include ../commons/meta
    include ../commons/includes
    link(rel='stylesheet', href='/gestion/index.css')

  body
    // Page Wrapper
    .page-wrapper
      // Header
      include ../commons/header

      // Main
      article#main
        include ../commons/pages/article-header.mixin.pug
        +articleHeader('Gestion de projet', 'Organisation et tableau de bord')

        section.wrapper.bg-white.fg-black
          .inner
            h3.fg-black Synth&egrave;se
            p
              | Ce projet de cr&eacute;ation de start-up a fait l'objet d'un suivi d&eacute;s son d&eacute;but. Un tableau de bord nous a permis de suivre pour chaque s&eacute;ance l'avancement de chacun dans le travail qu'il avait pr&eacute;vu de faire ainsi que son niveau de moral.
              | Nous avons ainsi obtenu des indicateurs d'avancement du projet, de r&eacute;partition des t&acirc;ches, d'&eacute;volution du moral et d'utilisation des ressources.
            p
              | Il est &agrave; noter que nous avons fait pivoter notre projet en cours de route : d'une cible diversifi&eacute;e, nous nous sommes tourn&eacute;s exclusivement vers un public professionnel. Cela explique que certains livrables contiennent des r&eacute;f&eacute;rences &agrave; une client&egrave;le et un type de service non retenus finalement, par exemple le contecte politique ou publicitaire pour les journalistes ou le grand publique.
            hr
            h4.fg-black Livrables
            ul
              li
                a(href='https://docs.google.com/spreadsheets/d/1wRkYxfCjaBCEiIoQtmYH-sYMAKnjBVIol_30tbjdDAg/edit?usp=sharing' target='_blank') Tableau de bord

      include ../commons/footer
    script(src='/gestion/index.js')
