doctype html
html
  head
    title Bull.sh - Responsabilit&eacute;s
    include ../commons/meta
    include ../commons/includes
    link(rel='stylesheet', href='/responsabilites/index.css')

  body
    // Page Wrapper
    .page-wrapper
      // Header
      include ../commons/header

      // Main
      article#main
        include ../commons/pages/article-header.mixin.pug
        +articleHeader('Responsabilité civile et sociétale', 'Prise d\'engagements')

        section.wrapper.bg-white.fg-black
          .inner
            h3.fg-black Synth&egrave;se
            p
              | Bull.sh se pr&eacute;sente comme une entreprise ayant &agrave; coeur de se mettre &agrave; la place de ses clients, sachant &agrave; quel point des contrats ou autres CGUs malveillantes peuvent nuire &agrave; la sant&eacute; d'une entreprise, et plus particuli&egrave;rement d'une PME.
              | Investie dans une lutte contre les pratiques d&eacute;loyale et la d&eacute;sinformation au niveau professionnel, chaque employ&eacute; de Bull.sh partage les valeurs de l'entreprise, qui sont les suivantes:
              ul
                li
                  strong.fg-black Confiance.&nbsp;
                  | Nous croyons en nos clients, et faisons tout pour que nos clients croient en nous.
                li
                  strong.fg-black Soucis d'int&eacute;grit&eacute;.&nbsp;
                  | Nos clients nous soumettent des donn&eacute;es sensibles, et nous leur garantissons que ces donn&eacute;es ne seront jamais ni diffus&eacute;es ni compromises.
                li
                  strong.fg-black Le go&ucirc;t de l'innovation
                  | , pour toujours proposer des outils plus performants.
            p
              | La prise d'engagements de Bull.sh s'organise selon trois axes principaux, qui seront d&eacute;taill&eacute;s dans le livrable associ&eacute; (voir la partie suivante). Ces trois axes sont les suivants:
              ul
                li Droits de l'Homme
                li Questions relatives aux consommateurs
                li Environnement
            hr
            h4.fg-black Livrables
            ul
              li
                a(href='/assets/delivrables/[bullsh] responsabilites.pdf' target='_blank') Responsabilit&eacute; civile et soci&eacute;tale
            p Pour les livrables de communication, voir&nbsp;
              a(href='/communication') la partie associ&eacute;e
              | .

      include ../commons/footer
    script(src='/responsabilites/index.js')
