doctype html
html
  head
    title Bull.sh
    include commons/meta
    include commons/includes
    link(rel='stylesheet', href='index.css')


  body.landing
    // Page Wrapper
    #bull-home-wrapper.page-wrapper
      // Header and menu
      include commons/header

      // Banner
      // TODO: fix render (bolder ?)
      section#bull-banner.banner
        .inner
          h2 Bull.sh
          p
            | Sage. Avisé.
            br
            |             Il peut vous aider.
            ul.actions
              li
                a.button.special.scrolly(href='#bull-pres') Découvrir comment

      // Quotation and video
      section#bull-pres.wrapper.bull-wrapper.special.bg-accent-base.full-height
        .inner
          header.major
            h2 Votre partenaire juridique
          blockquote.fg-white
            p
              span.quote.quote-begin “
              |               Pour toutes les PMEs qui n'ont pas les moyens de s'offrir un avocat
              |               pour leurs contrats, il y a Bull.sh
              span.quote.quote-end ”
            cite - Didier Berton, avocat et co-fondateur de Bull.sh
          video(controls='' class='11u 12u(medium)')
            source(src='https://files.slack.com/files-pri/T6A8KQ0TS-F89BXLZ18/video.mp4', type='video/mp4')
            |             Votre navigateur ne supporte pas cette video.

      // Why using bull.sh in three points
      section#bull-features.wrapper.alt.bg-primary
        section.spotlight
          .image
            img(src='assets/images/contract-0.jpeg', alt='')
          .content
            h2 Signez vos contrats en toute tranquilité
            p
              | Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
        section.spotlight
          .image
            img(src='assets/images/pic02.jpg', alt='')
          .content
            h2 Une réponse instantanée
            p
              | Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
        section.spotlight
          .image
            img(src='assets/images/pic03.jpg', alt='')
          .content
            h2 Une intégration facile à votre workflow
            p
              | Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.

      // Bull.sh values (corporate)
      section#bull-values.wrapper.bull-wrapper.special.bg-accent-base
        .inner
          header.major
            h2 Nos valeurs
          ul.icons.major.row.uniform
            // TODO: add text
            li(class="4u 12u(medium)")
              span.icon.fa-balance-scale.major
              div.content Chez Bull.sh, nous croyons que le droit &agrave; une information saine et juste est capital.
            li(class="4u 12u(medium)")
              span.icon.fa-handshake-o.major
              div.content Parce que nous savons à quel point un contrat malveillant peut nuire &agrave; votre entreprise,
                |  nous sommes les mieux plac&eacute;s pour vous aider.
            li(class="4u 12u(medium)")
              span.icon.fa-leaf.major
              div.content Bull.sh s'engage pour l'environnement en s'assurant que ses &eacute;missions de CO2 sont minimales.

      // Contact and newsletter
      section#bull-contacts.cta.wrapper.bg-primary
        .inner
          header
            h2 Vous &ecirc;tes curieux ?
            p
              | Souscrivez &agrave; notre newsletter
          ul.actions.vertical
            li
              button#bull-toggle-newsletter.button.fit.secondary Souscrire

        .inner
          header
            h2 Vous avez une question ?
            p
              | Contactez-nous

          ul.actions.vertical
            li
              button#bull-toggle-contact.button.fit.secondary-hover Contact

        #bull-contact-form.inner
          hr
          h4 Formulaire de contact
          form
            .row.uniform
              div(class='3u 5u(small) 12u$(xsmall)')
                input.required(type='text', name='name', value='', placeholder='Votre nom')
              div(class='9u 7u(small) 12u$(xsmall)')
                input.required(type='text', name='email', value='', placeholder='Votre email')
              div(class='12u$')
                textarea.required#demo-message(name='message', placeholder='Votre message', rows='6')
              div(class='12u$')
                ul.actions
                  li
                    input.secondary.fit(type='submit', value='Envoyer')
                  li
                    input.fit.secondary-hover(type='reset', value='Reset')

        #bull-newsletter-form.inner
          hr
          h4 Souscrivez &agrave; notre newsletter
          form
            .row.uniform
              div(class='3u 5u(small) 12u$(xsmall)')
                input.required(type='text', name='name', value='', placeholder='Votre nom')
              div(class='9u 7u(small) 12u$(xsmall)')
                input.required(type='text', name='email', value='', placeholder='Votre email')
              div(class='12u$')
                ul.actions
                  li
                    input.secondary.fit(type='submit', value='Souscrire')

      include commons/footer

    script(src='home.js')
